@charset "UTF-8";

#about {
	width:90%;
	margin:0 auto;
	min-height: 100vh;
}
#about p {
	margin: 4rem;
	width:70%;
}
#about svg {
	position: absolute;
	height: 750px;
	z-index: -1;
}

@media only screen and (max-width:800px){
	#about{
		width:90%;
	}
	#about svg{
		height: 800px;
	}
	#about p{
		width:90%;
	}
}