@charset "UTF-8";
/* header */
/* .mainHeader{
	display: flex;
	align-items: center;
}

.mainHeader img {
	width: 66%;
} */

.mainHeader{
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: auto;
	align-items: center;
	background-color: #8ABF3F;
}

.mainHeader h1 {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 1;
	z-index: 3;
	color: white;
}

.mainHeader img {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 1;
}

/* body */
main section:nth-of-type(2) p{
	line-height: 1.5;
	margin: 2rem;
}
main section:nth-of-type(2){
	padding-top: 3rem;
	width: 60%;
	margin: 0 auto;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, 200px);
}

main section:nth-of-type(2) p:first-of-type{
	text-align: right;
	grid-column-start: 0;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 2;
}
main section:nth-of-type(2) p:nth-of-type(2){
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
main section:nth-of-type(2) p:nth-of-type(3){
	text-align: right;
	grid-column-start: 0;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 4;
}

svg{
	margin-top: 100px;
}

/* view menu */
main section:nth-of-type(3){
	text-align: center;
	padding-bottom: 5rem;
}
main section:nth-of-type(3) h2 {
	margin-bottom: 3rem;
	margin-top: 5rem;
}
