@charset "UTF-8";

#menu div{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-left: 8rem;
	padding-bottom: 5rem;
}

#menu section {
	width: 25%;
	margin: 4rem;
}

#menu section p {
	font-size: 1.8rem;
}

#menu svg {
	height: 850px;
	position: absolute;
	z-index:-1;
}

#menu span object {
	width: 75px;
	height: 50px;
	position: relative;
	top: 10px;
}

@media only screen and (max-width: 1040px){
	#menu section {
		width: 40%;
	}
	#menu svg{
		height: 1200px;
	}
}

@media only screen and (max-width: 880px){
	#menu div {
		display: block;
		width:90%;
		padding-left:0;
	}
	#menu section {
		width: 80%;
		margin: 4rem;
	}
	#menu svg {
		height: 2400px
	}
}
