@charset "UTF-8";

#news section {
	display: flex;
	margin: 3rem;
	margin-left: 10rem;
	align-items: flex-start;
	width: 80%;
}
#news section img {
	width: 250px;
	height: 250px;
	object-fit: cover;
}
#news section div{
	margin-left: 2rem;
}

#news section div p{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

#news svg{
	position: absolute;
	left: 5rem;
	z-index: -1;
}

.pagination.active {
	font-size: 1.4rem;
	color: white;
	background-color: #EE2A28;
	padding: 0.5rem ;
	margin-left: 1rem;
}
.pagination {
	font-size: 1.4rem;
	padding: 0.5rem ;
	margin-left: 1rem;
	color: #453519;
}

@media only screen and (max-width:500px){
	#news section img{
		display: none;
	}
	#news{
		width:90%;
	}
	#news section{
		margin-left: 4rem;
	}
	#news svg{
		left: 3rem;
	}
	#news section:last-of-type h3 {
		padding-left: 2rem;
	}
}