@charset "UTF-8";

main section {
	display: flex;
	margin: 3rem;
	margin-left: 15rem;
	align-items: flex-start;
	width: 60%;
}
main section img {
	width: 250px;
	height: 250px;
	object-fit: cover;
}
main section div{
	margin-left: 4rem;
}

main svg{
	position: absolute;
	left: 5rem;
}

.pagination.active {
	font-size: 1.4rem;
	color: white;
	background-color: #EE2A28;
	padding: 0.5rem ;
	margin-left: 1rem;
}
.pagination {
	font-size: 1.4rem;
	padding: 0.5rem ;
	margin-left: 1rem;
	color: #453519;
}